@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: hsl(0, 0%, 100%);
    color: #333;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    position: relative;
    background: rgba(238, 83, 6, 0.177);
}

.header h1 {
    font-size: 1.8rem;
    color: #ff6b3f;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    text-align: center;
}

.logo {
    height: 70px;
    width: auto;
}

.left-logo {
    position: absolute;
    left: 20px;
}

.right-logos {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px;
}

.dashboard {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(238, 83, 6, 0.177);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin-top: 30px;
}

.sub-heading {
    font-size: 24px;
    font-weight: bold;
    color: #ff6b3f;
    margin-bottom: 10px;
}

.event-details{
    padding: 1rem;
}

.event-details,
.event-date {
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

.line {
    width: 100%;
    height: 2px;
    background:  #ff6b3f;
    margin: 15px 0;
}

.container {
    padding: 20px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.lamp-container {
    margin: 10px auto;
}

#lamp {
    width: 120px;
    transition: 0.5s ease-in-out;
}

button {
    background: linear-gradient(45deg, #ff914d, #ff6b3f);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(255, 111, 97, 0.3);
}

button:hover {
    background: linear-gradient(45deg, #ff5733, #ff6b3f);
    box-shadow: 0px 6px 15px rgba(255, 111, 97, 0.5);
}

.flower-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("/assets/flowers-red-1.gif") center/cover no-repeat;
    pointer-events: none;
    z-index: 9999;
    display: none;
}

.footer {
    text-align: right;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.footer p {
    margin-right: 20px;
    color: #666;
}

.social-icon {
    margin: 0 5px;
    font-size: 18px;
    color: #000;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #6b6a6a;
}

.reset {
    margin-top: 15px;
}
